<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Pim>
            <version>0.1.5</version>
        </Icube_Pim>
    </modules>
    <frontend>
        <routers>
            <pim>
                <use>standard</use>
                <args>
                    <module>Icube_Pim</module>
                    <frontName>pim</frontName>
                </args>
            </pim>
        </routers>
        <layout>
            <updates>
                <pim>
                    <file>icube/pim.xml</file>
                </pim>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                 <args>
                     <modules>
                         <vendor before="Mage_Adminhtml">Icube_Pim_Adminhtml</vendor>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
    <global>
	    <blocks>
            <pim>
                <class>Icube_Pim_Block</class>
            </pim>
        </blocks>
	    <helpers>
            <pim>
                <class>Icube_Pim_Helper</class>
            </pim>  
       </helpers>
       <models>
            <pim>
                <class>Icube_Pim_Model</class>
                <resourceModel>pim_mysql4</resourceModel>
            </pim>
            <pim_mysql4>
                <class>Icube_Pim_Model_Mysql4</class>
                <entities>
                    <vendor>
                        <table>icube_pim_vendor</table>
                    </vendor>
                    <skugenerator>
                        <table>icube_pim_sku_generator</table>
                    </skugenerator>
                </entities>
            </pim_mysql4>
       </models>
       <resources>
            <icube_pim_setup>
                <setup>
                    <module>Icube_Pim</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </icube_pim_setup>
            <pim_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pim_write>
            <pim_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pim_read>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                  <status_change_observer>
                    <type>singleton</type>
                      <class>pim/observer</class>
                    <method>checkStatus</method>
                  </status_change_observer>
                </observers>
          </catalog_product_save_after>
        </events>
        <template>
            <email>
               <sales_icube_newVendorNotifier_email_template>
                   <label>Icube New Vendor Notifier</label>
                   <file>icube_newVendorNotifier.html</file>
                   <type>html</type>
               </sales_icube_newVendorNotifier_email_template>
               <sales_icube_adminNotifier_email_template>
                   <label>Icube Admin Notifier</label>
                   <file>icube_adminNotifier.html</file>
                   <type>html</type>
               </sales_icube_adminNotifier_email_template>
            </email>
        </template>
    </global>
</config>