<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Order>
            <version>0.1.1</version>
        </Icube_Order>
    </modules>
    <frontend>
        <routers>
            <sales>
                <use>standard</use>
                <args>
                    <module>Icube_Order</module>
                    <frontName>order</frontName>
                </args>
            </sales>
        </routers>
    </frontend>
    <global>
        <models>
            <icube_order>
                <class>Icube_Order_Model</class>
            </icube_order>
        </models>
        <resources>
            <icube_order_setup>
                <setup>
                    <module>Icube_Order</module>
                </setup>
            </icube_order_setup>
        </resources>
        <helpers>
            <icube_order>
                <class>Icube_Order_Helper</class>
            </icube_order>
        </helpers>
        <resources>
            <icube_order_setup>
                <setup>
                    <module>Icube_Order</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </icube_order_setup>
            <order_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </order_write>
            <order_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </order_read>
        </resources>
        <template>
            <email>
               <sales_icube_vendorOrderNotifier_email_template>
                   <label>Icube Vendor Order Notifier</label>
                   <file>icube_vendorOrderNotifier.html</file>
                   <type>html</type>
               </sales_icube_vendorOrderNotifier_email_template>
            </email>
        </template>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                  <shipment_save_observer>
                    <type>singleton</type>
                      <class>icube_order/observer</class>
                    <method>saveVendorId</method>
                  </shipment_save_observer>
                </observers>
          </sales_order_shipment_save_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <icube_order>
                                            <title>Icube Order - All</title>
                                        </icube_order>
                                        <icube_product>
                                            <title>Icube Product - All</title>
                                        </icube_product>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>