<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Peexl_PackageBuilder>
            <version>1.1.7</version>
        </Peexl_PackageBuilder>
    </modules>
    <frontend>
        <routers>
            <packagebuilder>
                <use>standard</use>
                <args>
                    <module>Peexl_PackageBuilder</module>
                    <frontName>pb</frontName>
                </args>
            </packagebuilder>
        </routers>
        <layout>
            <updates>
                <packagebuilder>
                    <file>packagebuilder.xml</file>
                </packagebuilder>
            </updates>
        </layout>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <packagebuilder>
                        <class>packagebuilder/observer</class>
                        <method>productView</method>
                    </packagebuilder>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>
    <global>
        <catalog>
            <product>
                <type>
                    <package translate="label" module="packagebuilder">
                        <label>Package Product</label>
                        <model>packagebuilder/package</model>
                        <price_model>packagebuilder/package_price</price_model>
                        <composite>1</composite>
                        <allowed_selection_types>
                            <configurable/>
                            <simple/>
                            <virtual/>
                            <downloadable/>
                        </allowed_selection_types>
                        <index_data_retreiver>catalogindex/data_simple</index_data_retreiver>
                    </package>
                </type>
            </product>
        </catalog>
        <blocks>
            <packagebuilder>
                <class>Peexl_PackageBuilder_Block</class>
            </packagebuilder>
        </blocks>
        <helpers>
            <packagebuilder>
                <class>Peexl_PackageBuilder_Helper</class>
            </packagebuilder>
        </helpers>
        <models>
            <packagebuilder>
                <class>Peexl_PackageBuilder_Model</class>
                <resourceModel>packagebuilder_resource</resourceModel>
            </packagebuilder>
            <packagebuilder_resource>
                <class>Peexl_PackageBuilder_Model_Resource</class>
                <entities>
                    <package_item>
                        <table>catalog_product_package_item</table>
                    </package_item>
                    <package_item_option>
                        <table>catalog_product_package_item_option</table>
                    </package_item_option>
                </entities>
            </packagebuilder_resource>
            <catalog>
                <rewrite>
                    <layer>Peexl_PackageBuilder_Model_Layer</layer>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <packagebuilder_setup>
                <setup>
                    <module>Peexl_PackageBuilder</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </packagebuilder_setup>
            <packagebuilder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </packagebuilder_write>
            <packagebuilder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </packagebuilder_read>
        </resources>
    </global>
    <admin>
        <routers>
            <packagebuilder>
                <use>admin</use>
                <args>
                    <module>Peexl_PackageBuilder</module>
                    <frontName>package</frontName>
                </args>
            </packagebuilder>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <packagebuilder>
                    <file>packagebuilder.xml</file>
                </packagebuilder>
            </updates>
        </layout>
        <events>
            <catalog_product_edit_action>
                <observers>
                    <package_observer>
                        <class>packagebuilder/observer</class>
                        <method>setAttributeTabBlock</method>
                    </package_observer>
                </observers>
            </catalog_product_edit_action>
            <catalog_product_new_action>
                <observers>
                    <package_observer>
                        <class>packagebuilder/observer</class>
                        <method>setAttributeTabBlock</method>
                    </package_observer>
                </observers>
            </catalog_product_new_action>
        </events>
    </adminhtml>
</config>