<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Peexl_ReferFriends>
            <version>0.1.6</version>
        </Peexl_ReferFriends>
    </modules>
    
    <global>
        <models>
            <peexl_referfriends>
                <class>Peexl_ReferFriends_Model</class>
                <resourceModel>peexl_referfriends_resource</resourceModel>
            </peexl_referfriends>
            <peexl_referfriends_resource>
                <class>Peexl_ReferFriends_Model_Resource</class>
                <entities>
                    <bonus>
                        <table>customer_bonus</table>
                    </bonus>
                    <rules>
                        <table>customer_bonus_rules</table>
                    </rules> 
                    <discounts>
                        <table>customer_bonus_discounts</table>
                    </discounts>                  
                </entities>
            </peexl_referfriends_resource>
        </models>
        <helpers>
            <peexl_referfriends>
                <class>Peexl_ReferFriends_Helper</class>
            </peexl_referfriends>
        </helpers>
        <blocks>
            <peexl_referfriends>
                <class>Peexl_ReferFriends_Block</class>
            </peexl_referfriends>
            
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Peexl_ReferFriends_Block_Adminhtml_Sales_Order</sales_order_totals>   
                    <sales_order_invoice_totals>Peexl_ReferFriends_Block_Adminhtml_Sales_Invoice</sales_order_invoice_totals>     
                    <sales_order_creditmemo_totals>Peexl_ReferFriends_Block_Adminhtml_Sales_Creditmemo</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
                 
            <sales>
                <rewrite>
                    <order_totals>Peexl_ReferFriends_Block_Sales_Order</order_totals>
                    <order_invoice_totals>Peexl_ReferFriends_Block_Sales_Invoice</order_invoice_totals>
                    <order_creditmemo_totals>Peexl_ReferFriends_Block_Sales_Creditmemo</order_creditmemo_totals>
                </rewrite>
            </sales>
        </blocks>
        <resources>
            <ReferFriends_setup>
                <setup>
                    <module>Peexl_ReferFriends</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ReferFriends_setup>
            <ReferFriends_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ReferFriends_write>
            <ReferFriends_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ReferFriends_read>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <peexl_referfriends>
                        <class>peexl_referfriends/observer</class>
                        <method>captureReferral</method>
                        <type>singleton</type>
                    </peexl_referfriends>
                </observers>
            </controller_action_predispatch>
            <customer_register_success>
                <observers>
                    <peexl_referfriends>
                        <class>peexl_referfriends/observer</class>
                        <method>setReferral</method>
                        <type>singleton</type>
                    </peexl_referfriends>
                </observers>
            </customer_register_success>
            <sales_order_place_after>
                <observers>
                    <peexl_referfriends>
                        <class>peexl_referfriends/observer</class>
                        <method>orderPlacedBonus</method>
                        <type>singleton</type>
                    </peexl_referfriends>
                </observers>
            </sales_order_place_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <peexl_referfriends>
                        <class>peexl_referfriends/observer</class>
                        <method>placeBonusBlockAfterCoupon</method>                    
                    </peexl_referfriends>
                </observers>
            </core_block_abstract_to_html_after>    
        </events>
        
        <sales>
            <quote>
                <totals>
                    <referal_discount>
                        <class>Peexl_ReferFriends_Model_Discount</class>
                        <after>subtotal</after>
                    </referal_discount>
                </totals>
            </quote>
             
            <order_invoice>
                <totals>
                    <referal_discount>
                        <class>Peexl_ReferFriends_Model_Invoice</class>
                        <after>subtotal</after>
                    </referal_discount>
                </totals>
            </order_invoice>
             
            <order_creditmemo>
                <totals>
                    <referal_discount>
                        <class>Peexl_ReferFriends_Model_Creditmemo</class>
                        <after>subtotal</after>
                    </referal_discount>
                </totals>
            </order_creditmemo>
        </sales> 
        <fieldsets>
            <sales_convert_quote_address>
                <fee_amount><to_order>*</to_order></fee_amount>
                <base_fee_amount><to_order>*</to_order></base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>   
    </global>
     
    <adminhtml>
        <layout>
            <updates>
                <referfriends>
                    <file>referfriends.xml</file>
                </referfriends>                
            </updates>
        </layout>
        
    </adminhtml>
    <admin>
        <routers>
            <peexl_referfriends>
                <use>admin</use>
                <args>
                    <module>Peexl_ReferFriends</module>
                    <frontName>peexl</frontName>
                </args>
            </peexl_referfriends>
        </routers>
    </admin>
    <frontend>
        <routers>           
            <peexl_referfriends>
                <use>standard</use>
                <args>
                    <module>Peexl_ReferFriends</module>
                    <frontName>referrals</frontName>
                </args>
            </peexl_referfriends>            
        </routers>
        <layout>
            <updates>
                <referfriends>
                    <file>peexl_referfriends/layout.xml</file>
                </referfriends>
            </updates>
        </layout>
    </frontend>    
</config>