<?xml version="1.0"?>
<config>
  <modules>
	<Icube_Customisation>
	  <version>0.1.0</version>
	</Icube_Customisation>
  </modules>
	<global>
      <blocks>
        <customisation>
          <class>Icube_Customisation_Block</class>
        </customisation>
        <adminhtml>
          <rewrite>
              <catalog_product_grid>Icube_Customisation_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
          </rewrite>
      </adminhtml>
      </blocks>
	  	<helpers>
	        <customisation>
	            <class>Icube_Customisation_Helper</class>
	        </customisation>
	    </helpers>
    <models>
        <customisation>
            <class>Icube_Customisation_Model</class>
        </customisation>
    </models>
    <resources>
        <icube_customisation_setup>
          <setup>
            <module>Icube_Customisation</module>
          </setup>
          <connection>
            <use>default_setup</use>
          </connection>
        </icube_customisation_setup>
    </resources>
  </global>
  <admin>
    <routers>
        <adminhtml>
            <args>
                <modules>
                    <icube_customisation after="Mage_Adminhtml">Icube_Customisation_Adminhtml</icube_customisation>
                </modules>
            </args>
        </adminhtml>
    </routers>
  </admin>
</config>