<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Peexl_ProductDesigner>
            <version>0.2.5</version>
        </Peexl_ProductDesigner>
    </modules>
    <frontend>
        <routers>
            <productdesigner>
                <use>standard</use>
                <args>
                    <module>Peexl_ProductDesigner</module>
                    <frontName>pd</frontName>
                </args>
            </productdesigner>
        </routers>
        <layout>
            <updates>
                <productdesigner>
                    <file>productdesigner.xml</file>
                </productdesigner>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <productdesigner>
                <class>Peexl_ProductDesigner_Block</class>
            </productdesigner>
            <catalog>
                <rewrite>
                    <product_list>Peexl_ProductDesigner_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <productdesigner>
                <class>Peexl_ProductDesigner_Helper</class>
            </productdesigner>
        </helpers>
        <models>
            <productdesigner>
                <class>Peexl_ProductDesigner_Model</class>
                <resourceModel>productdesigner_resource</resourceModel>
            </productdesigner>
            <productdesigner_resource>
                <class>Peexl_ProductDesigner_Model_Resource</class>
                <entities>
                    <option>
                        <table>catalog_product_designer_option</table>
                    </option>
                    <option_value>
                        <table>catalog_product_designer_option_value</table>
                    </option_value>
                    <design>
                        <table>catalog_product_designer_design</table>
                    </design>
                    <order_item_design>
                        <table>catalog_product_designer_order_item_design</table>
                    </order_item_design>
                    <graphics>
                        <table>catalog_product_designer_graphics</table>
                    </graphics>
                    <pattern>
                        <table>catalog_product_designer_pattern</table>
                    </pattern>
                    <font>
                        <table>catalog_product_designer_font</table>
                    </font>
                    <font_color>
                        <table>catalog_product_designer_font_color</table>
                    </font_color>
                </entities>
            </productdesigner_resource>
            <catalog>
                <rewrite>
                    <product_type_price>Peexl_ProductDesigner_Model_Product_Price</product_type_price>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <quote>Peexl_ProductDesigner_Model_Quote</quote>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <quote_item_collection>Peexl_ProductDesigner_Model_Resource_Quote_Item_Collection</quote_item_collection>
                </rewrite>
            </sales_resource>
        </models>
        <resources>
            <productdesigner_setup>
                <setup>
                    <module>Peexl_ProductDesigner</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productdesigner_setup>
            <productdesigner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productdesigner_write>
            <productdesigner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productdesigner_read>
        </resources>
    </global>
    <admin>
        <routers>
            <productdesigner>
                <use>admin</use>
                <args>
                    <module>Peexl_ProductDesigner</module>
                    <frontName>productdesigner</frontName>
                </args>
            </productdesigner>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productdesigner>
                    <file>productdesigner.xml</file>
                </productdesigner>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <productdesigner_save_product_data>
                        <type>singleton</type>
                        <class>productdesigner/observer</class>
                        <method>saveProductDesignerOptions</method>
                    </productdesigner_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
        <menu>
            <catalog>
                <children>		
                    <designer>
                        <title>Designer</title>
                        <sort_order>999</sort_order>
                        <children>
                            <graphics>
                                <title>Graphics</title>
                                <action>productdesigner/adminhtml_graphics</action>
                                <sort_order>100</sort_order>
                            </graphics>
                            <patterns>
                                <title>Patterns</title>
                                <action>productdesigner/adminhtml_pattern</action>
                                <sort_order>200</sort_order>
                            </patterns>
                            <fonts>
                                <title>Fonts</title>
                                <action>productdesigner/adminhtml_font</action>
                                <sort_order>300</sort_order>
                            </fonts>
                            <!--<fonts_colors>
                                <title>Fonts Colors</title>
                                <action>productdesigner/adminhtml_font_color</action>
                                <sort_order>400</sort_order>
                            </fonts_colors>-->
                        </children>
                    </designer>
                </children>
            </catalog>	
        </menu>
    </adminhtml>
</config>