<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Peexl_DailyDeals>
            <version>0.1.4</version>
        </Peexl_DailyDeals>
    </modules>
    <global>
        <models>
            <peexl_dailydeals>
                <class>Peexl_DailyDeals_Model</class>    
                <resourceModel>peexl_dailydeals_resource</resourceModel>            
            </peexl_dailydeals>            
            <peexl_dailydeals_resource>
                <class>Peexl_DailyDeals_Model_Resource</class>
                <entities>
                    <deals>
                        <table>peexl_dailydeals</table>
                    </deals>
                    <sales>                        
                        <table>peexl_dailydeals_sales</table>                        
                    </sales>                                 
                </entities>                 
            </peexl_dailydeals_resource>
            <catalog>
                <rewrite>
                    <product>Peexl_DailyDeals_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <peexl_dailydeals>
                <class>Peexl_DailyDeals_Helper</class>                
            </peexl_dailydeals> 
        </helpers>
        <blocks>
            <peexl_dailydeals>
                <class>Peexl_DailyDeals_Block</class>                
            </peexl_dailydeals> 
            <catalog>
                <rewrite>
                    <product_list>Peexl_DailyDeals_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        
           
        <resources>
            <DailyDeals_setup>
                <setup>
                    <module>Peexl_DailyDeals</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </DailyDeals_setup>
            <DailyDeals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </DailyDeals_write>
            <DailyDeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </DailyDeals_read>
        </resources>   
        
        <events>
            <catalog_controller_product_view>
                <observers>
                    <peexl_dailydeals>
                        <class>peexl_dailydeals/observer</class>
                        <method>productPageViewed</method>
                    </peexl_dailydeals>
                </observers>
            </catalog_controller_product_view>
            <sales_order_place_after>
                <observers>
                    <peexl_dailydeals>
                        <class>peexl_dailydeals/observer</class>
                        <method>orderRegisterDeals</method>
                    </peexl_dailydeals>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <peexl_dailydeals>
                        <type>singleton</type>
                        <class>peexl_dailydeals/observer</class>
                        <method>beforeAddToCart</method>
                    </peexl_dailydeals>
                </observers>
            </controller_action_predispatch_checkout_cart_add>

             <checkout_cart_update_items_before>
                <observers>
                    <peexl_dailydeals>
                        <type>singleton</type>
                        <class>peexl_dailydeals/observer</class>
                        <method>beforeUpdateCart</method>
                    </peexl_dailydeals>
                </observers>
            </checkout_cart_update_items_before>

        </events>
                  
    </global>
    <adminhtml>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals.xml</file>
                </dailydeals>                
            </updates>
        </layout>
        
    </adminhtml>
    <admin>
        <routers>
            <peexl_dailydeals>
                <use>admin</use>
                <args>
                    <module>Peexl_DailyDeals</module>
                    <frontName>dailydeals</frontName>
                </args>
            </peexl_dailydeals>
        </routers>
    </admin>
        
    <frontend>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <peexl_dailydeals>
                        <class>peexl_dailydeals/observer</class>
                        <method>updateDealsLayout</method>
                    </peexl_dailydeals>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <routers>           
            <peexl_dailydeals>
                <use>standard</use>
                <args>
                    <module>Peexl_DailyDeals</module>
                    <frontName>dailydeals</frontName>
                </args>
            </peexl_dailydeals>            
        </routers>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals.xml</file>
                </dailydeals>
            </updates>
        </layout>
    </frontend>
        
    <default>
        <dailydeals>
            <peexl_dailydeals_configuration_group>
                <peexl_dailydeals_enable>0</peexl_dailydeals_enable>
                <peexl_dailydeals_show_in_header_links>1</peexl_dailydeals_show_in_header_links>
<!--                <peexl_dailydeals_use_as_homepage>0</peexl_dailydeals_use_as_homepage>-->
                <peexl_dailydeals_show_remaining_qty>1</peexl_dailydeals_show_remaining_qty>
                <peexl_dailydeals_no_deals_message>There is no deals.Try again later</peexl_dailydeals_no_deals_message>
            </peexl_dailydeals_configuration_group>           
            <peexl_dailydeals_color_configuration_group>
                <peexl_dailydeals_configuration_countdown_timer_text_color>#ffffff</peexl_dailydeals_configuration_countdown_timer_text_color>
                <peexl_dailydeals_configuration_countdown_timer_bkg_color>#000000</peexl_dailydeals_configuration_countdown_timer_bkg_color>
                <peexl_dailydeals_configuration_countdown_timer_notes_color>#000000</peexl_dailydeals_configuration_countdown_timer_notes_color>
                <peexl_dailydeals_configuration_countdown_timer_days_text>Day(s)</peexl_dailydeals_configuration_countdown_timer_days_text>
            </peexl_dailydeals_color_configuration_group>
            <peexl_dailydeals_slider_block_configuration_group>
                <peexl_dailydeals_slider_block_background_show>1</peexl_dailydeals_slider_block_background_show>
                <peexl_dailydeals_slider_block_title_text>Have you checked this?</peexl_dailydeals_slider_block_title_text>
                <peexl_dailydeals_slider_block_background_color>#fbfaf6</peexl_dailydeals_slider_block_background_color>
                <peexl_dailydeals_slider_block_header_background_color>#000000</peexl_dailydeals_slider_block_header_background_color>
                <peexl_dailydeals_slider_block_header_text_color>#ffffff</peexl_dailydeals_slider_block_header_text_color>
                <peexl_dailydeals_slider_block_slide_duration>10</peexl_dailydeals_slider_block_slide_duration>
                <peexl_dailydeals_slider_block_slider_autostart>1</peexl_dailydeals_slider_block_slider_autostart>
            </peexl_dailydeals_slider_block_configuration_group>
            <peexl_dailydeals_most_viewed_block_configuration_group>
                <peexl_dailydeals_most_viewed_show>1</peexl_dailydeals_most_viewed_show>
                <peexl_dailydeals_most_viewed_title>Most Viewed Deal</peexl_dailydeals_most_viewed_title>
                <peexl_dailydeals_most_viewed_sidebar>1</peexl_dailydeals_most_viewed_sidebar>
            </peexl_dailydeals_most_viewed_block_configuration_group>
            <peexl_dailydeals_random_deal_block_configuration_group>
                <peexl_dailydeals_random_deal_show>1</peexl_dailydeals_random_deal_show>
                <peexl_dailydeals_random_deal_title>Daily Deal</peexl_dailydeals_random_deal_title>
                <peexl_dailydeals_random_deal_sidebar>1</peexl_dailydeals_random_deal_sidebar>
            </peexl_dailydeals_random_deal_block_configuration_group>
            <peexl_dailydeals_top_selling_deal_block_configuration_group>
                <peexl_dailydeals_top_selling_deal_show>1</peexl_dailydeals_top_selling_deal_show>
                <peexl_dailydeals_top_selling_deal_title>Top Selling</peexl_dailydeals_top_selling_deal_title>
                <peexl_dailydeals_top_selling_deal_sidebar>1</peexl_dailydeals_top_selling_deal_sidebar>
            </peexl_dailydeals_top_selling_deal_block_configuration_group>
            <peexl_dailydeals_upcoming_deal_block_configuration_group>
                <peexl_dailydeals_upcoming_deal_show>1</peexl_dailydeals_upcoming_deal_show>
                <peexl_dailydeals_upcoming_deal_title>Upcoming Deal</peexl_dailydeals_upcoming_deal_title>
                <peexl_dailydeals_upcoming_deal_sidebar>1</peexl_dailydeals_upcoming_deal_sidebar>
            </peexl_dailydeals_upcoming_deal_block_configuration_group>
        </dailydeals>
    </default>
</config>    
