<?xml version="1.0"?>
<config>
	<modules>
		<Icube_Import>
			<version>0.1.2</version>
		</Icube_Import>
	</modules>
	<frontend>
		<routers>
			<import>
				<use>standard</use>
				<args>
					<module>Icube_Import</module>
					<frontName>import</frontName>
				</args>
			</import>
		</routers>
	</frontend>
	<global>
		<helpers>
			<import>
				<class>Icube_Import_Helper</class>
			</import>
		</helpers>
		<blocks>
			<import>
				<class>Icube_Import_Block</class>
			</import>
		</blocks>
		<models>
			<import>
				<class>Icube_Import_Model</class>
				<resourceModel>import_resource</resourceModel>
			</import>
			<import_resource>
                <class>Icube_Import_Model_Resource</class>
                <entities>
                    <mapping>
                        <table>icube_mapping_attribute_set</table>
                    </mapping>
                    <renamed>
                        <table>icube_attribute_set_renamed</table>
                    </renamed>
                </entities>
            </import_resource>     
		</models>
		<resources>
            <icube_import_setup>
                <setup>
                    <module>Icube_Import</module>
                </setup>
            </icube_import_setup>
        </resources>
	</global>
</config> 